<header class="header">
    <div class="row full flush">
        <div class="column float">
            <a class="logo" href="./index.html">
                <div class="show-for-medium-up">
                    robinwkurtz
                </div>
                <div class="show-for-small-only">
                    rk
                </div>
            </a>
        </div>
        <div class="column float">
            <a href="#" class="js-menu-button menu-button">
                <div class="burger">
                    <div class="icon-burger">&nbsp;</div>
                </div>
            </a>
        </div>
        <div class="column float">
            <a href="#" class="js-heart-menu-button heart-menu-button" style="float: right;">
                <div class="icon-heart css-bounce"></div>
            </a>
            <div class="js-heart-menu heart-menu">
                <ul>
                    <li class="behance">
                        <a href="https://www.behance.net/robinwkurtz" title="Behance" target="_blank"
                            rel="noopener noreferrer">
                            <div class="icon-behance"></div>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="https://www.instagram.com/robinwkurtz/" title="Instagram" target="_blank"
                            rel="noopener noreferrer">
                            <div class="icon-instagram"></div>
                        </a>
                    </li>
                    <li class="dribbble">
                        <a href="https://dribbble.com/robinwkurtz" title="Dribbble" target="_blank"
                            rel="noopener noreferrer">
                            <div class="icon-dribbble"></div>
                        </a>
                    </li>
                    <li class="github">
                        <a href="https://github.com/robinwkurtz" title="GitHub" target="_blank"
                            rel="noopener noreferrer">
                            <div class="icon-github"></div>
                        </a>
                    </li>
                    <li class="linkedin">
                        <a href="https://www.linkedin.com/in/robin-kurtz-238a934b" title="LinkedIn" target="_blank"
                            rel="noopener noreferrer">
                            <div class="icon-linkedin"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="js-menu menu">
        <nav role="navigation">
            <ul>
                <li>
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="cv.html">
                        Curriculum Vitae
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>